startup_commands toggle_statusbar;toggle_synctex;toggle_horizontal_scroll_lock
highlight_middle_click 1
should_launch_new_window 1
background_color .12 .12 .12
dark_mode_background_color .12 .12 .12
page_separator_width  1
page_separator_color .12 .12 .12
custom_background_color .12 .12 .12
custom_text_color .9 .9 .9
status_bar_color .12 .12 .12
